PUBLIC_CLOUDINARY_CLOUD_NAME="paulapplegate-com"
CLOUDINARY_CLOUD_NAME="paulapplegate-com"
CLOUDINARY_API_KEY="568225597939738"
CLOUDINARY_API_SECRET="FUY7_VudNxh3Coy0cvPEuhwUQoo"
SITE_URL="https://quiet_pages.paulapplegate.com"
